
/* ------ops para importa quando separa o arquivo--------- */
@import url(./herder.css);
@import url(./Containerprincipal.css);


/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: Arial, sans-serif;
}
/* root  e para colocar todas as core juntas*/

html{
    font-size: 62.5;
    width: 100;
}

body{
    margin: auto;
    width: 80%;
    
}

/* Imagem */
.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.image-container img {
    width: 100%;
    max-width: 613px;
    border-radius: 8px;
}

/* Parágrafo de texto */
.content p {
    text-align: justify;
    color: #666;
    line-height: 1.6;
}

